body{
    background-color: black;
    color: white;
}
/* ------------------------------header------------------------------------ */

/* ---------------------------------section-------------------------------- */

/* textes */

/* images */
img{
    width: 100%;
    height: auto;
}
/* ----------------------------------------footer-------------------------- */
